<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="form.css">
    <title>Document</title>
</head>
<body>
    <div class="form-container">
        <form th:action="@{/register}" method="post" th:object="${person}">
            <label for="firstname">First Name:</label><br>
            <input type="text" id="firstname" name="firstname" th:field="*{firstname}" /><br>
            <label for="lastname">Last Name:</label><br>
            <input type="text" id="lastname" name="lastname" th:field="*{lastname}" /><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" th:field="*{email}" /><br>

            <label for="dob">Date of Birth:</label><br>
            <input type="date" id="dob" name="dob" th:field="*{dob}" /><br>

            <label>Do you have a Driving License?</label><br>
            <input type="radio" id="haveDlYes" name="haveDl" value="true" th:field="*{havedl}" />
            <label for="haveDlYes">Yes</label>
            
            <input type="radio" id="haveDlNo" name="haveDl" value="false" th:field="*{havedl}" />
            <label for="haveDlNo">No</label><br>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>